<div class="navigator" >
	<div style="padding-top:20px; padding-left:20px; padding-right:20px;">
		<BsForm @formLayout="vertical" as |form|>
			<form.element @label="Author" style="width: 333px;">
				<PowerSelect @selected={{this.author}} @options={{this.authors}} @searchEnabled={{false}} @renderInPlace={{true}}
					@onChange={{action "selectAuthor"}} as |author|>
						{{author}}
				</PowerSelect>
			</form.element>
			<div class="row" style="padding-left:10px;">
				<div>
					<form.element @label="From date" style="width: 100px;">
						<EmberFlatpickr
							@allowInput="true"
							@autocomplete="none"
							@dateFormat="d.m.Y"
							class="form-control"
							@date={{readonly this.dateFrom}}
							@onChange={{action "fromDateChange"}} />
					</form.element>
				</div>
				<div style="padding-left:20px;">
					<form.element @label="To date" style="width: 100px;">
						<EmberFlatpickr
							@allowInput="true"
							@autocomplete="none"
							@dateFormat="d.m.Y"
							class="form-control"
							@date={{readonly this.dateTo}}
							@onChange={{action "toDateChange"}} />
					</form.element>
				</div>
			</div>
			<form.element @label="Days back" style="width: 100px;">
				<PowerSelect @selected={{this.dayBack}} @options={{this.daysBack}} @searchEnabled={{false}} @renderInPlace={{true}}
					@onChange={{action "selectDayBack"}} as |dayBack|>
						{{dayBack}}
				</PowerSelect>
			</form.element>
			<div style="padding-top:10px; padding-left:0px;">
				<BsButton @type="info" @outline={{true}} @onClick={{action "cleanup" }}>Cleanup</BsButton>
			</div>
		</BsForm>
	</div>
  <table>
    <tbody style="display: block; overflow-y: auto; overflow-x: hidden; height: 90%; padding-top: 20px; padding-left:20px;">
      {{#each this.session.filterAuthors as |row|}}
        <tr style="height:30px;">
          <td>{{row}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="content">
  <div id="dvCards" {{did-insert this._didInsert}}>
    <div class="row" >
      <div class="col">
        <div class="card">
          <div class="card-header">{{this.tableClasses.rows.length}} classes</div>
          <div class="card-body cardBody" id="dvCard1">
            {{#light-table this.tableClasses height="100vh" as |t| }}
              {{#t.body canSelect=true as |body| }}{{/t.body}}
            {{/light-table}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">{{this.tablePages.rows.length}} pages</div>
          <div class="card-body cardBody" id="dvCard2">
            {{#light-table this.tablePages height="100vh" as |t| }}
              {{#t.body canSelect=true as |body| }}{{/t.body}}
            {{/light-table}}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="col">
        <div class="card">
          <div class="card-header">{{this.tableComps.rows.length}} components</div>
          <div class="card-body cardBody" id="dvCard3">
            {{#light-table this.tableComps height="100vh" as |t| }}
              {{#t.body canSelect=true as |body| }}{{/t.body}}
            {{/light-table}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">{{this.tableOther.rows.length}} other</div>
          <div class="card-body cardBody" id="dvCard4">
            {{#light-table this.tableOther height="100vh" as |t| }}
              {{#t.body canSelect=true as |body| }}{{/t.body}}
            {{/light-table}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>